---
---

@import "{{ site.theme }}";

a.wabbajack {
	background: url(../images/wabbajack-small.png) no-repeat 1px;
}

a.mainpage {
	background: url(../images/baseline_article_white_18dp.png) no-repeat 1px;
}

a.screenshots {
	background: url(../images/baseline_photo_white_18dp.png) no-repeat 1px;
}

a.contribute {
	background: url(../images/baseline_add_box_white_18dp.png) no-repeat 1px;
}

a.changelog {
	background: url(../images/baseline_list_white_18dp.png) no-repeat 1px;
}

a.releases {
	background: url(../images/baseline_reorder_white_18dp.png) no-repeat 1px;
}

a.license {
	background: url(../images/baseline_receipt_white_18dp.png) no-repeat 1px;
}

body {
	padding:10px 50px 0 0;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	  font-size: 14px;
	  color: #FBF8F1;
	  background-color: #262D37;
	  margin: 0;
	  line-height: 1.8em;
	  -webkit-font-smoothing: antialiased;
  
  }

header {
	background-color: #262D37;
	color: #FBF8F1;
  	width:170px;
  	float:left;
  	position:fixed;
	border: 1px solid #000;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 34px 25px 22px 50px;
	margin: 30px 25px 0 0;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	color:#D58546;
	margin:36px 0 10px;
  }

a {
	color:#8DAEB5;
	font-weight:200;
	text-decoration:none;
}

code, pre {
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	background: #526B67;
	color: #FBF8F1;
	padding: 2px 2px 2px 2px;
	margin: 1px 1px 1px 1px;
	font-size:14px;
}

pre {
	padding: 4px 12px;
  	background: #526B67;
 	border-radius:4px;
	border:1px solid #D58546;
 	overflow: auto;
  	overflow-y: hidden;
  	margin-bottom: 32px;
}
 
a small {
	font-size: 8px;
}

header li {
	list-style-type: none;
  width:132px;
  height:15px;
	margin-bottom: 12px;
	line-height: 1em;
	padding: 6px 6px 6px 7px;

	background: #D58546;
	background: -moz-linear-gradient(top, #D58546 0%, #af540f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8DAEB5), color-stop(100%,#8DAEB5));
  background: -webkit-linear-gradient(top, #D58546 0%,#af540f 100%);
  background: -o-linear-gradient(top, #D58546 0%,#af540f 100%);
  background: -ms-linear-gradient(top, #D58546 0%,#af540f 100%);
  background: linear-gradient(to top, #D58546 0%,#af540f 100%);

	border-radius:4px;
  border:1px solid #0D0D0D;

	-webkit-box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);
	box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);

}

header li:hover {
	background: #e5ac80;
	background: -moz-linear-gradient(top, #e5ac80 0%, #950119 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8DAEB5), color-stop(100%,#8DAEB5));
  background: -webkit-linear-gradient(top, #e5ac80 0%,#950119 100%);
  background: -o-linear-gradient(top, #e5ac80 0%,#950119 100%);
  background: -ms-linear-gradient(top, #e5ac80 0%,#950119 100%);
  background: linear-gradient(to top, #e5ac80 0%,#b3672d 100%);
}

section {
	width:70%;
	float:center;
	padding-bottom:50px;
	padding-left: 200px ;
}

div.highlight {
	background: #526B67;
}

span.nv {
	color: #c5651b;
}